@charset "UTF-8";
body{
    margin: 0;
}
header
{
    background-color: #16C172;
    height: 280px;
    width: auto;
    display: flex;
    flex-direction: row;
}

#banner
{
    height: 275px;
    width: 355px;
    margin-left: 10px;
    margin-right: 50px;
}
#logo
{
    margin-left:15px;
    margin-top: 25px;
    border: 2px solid white;
}
.Titulo
{
    font-family: 'Lato', sans-serif;
    display: flex;
    font-size: 42px;
    font-weight: bold;
    width: 800px;
    justify-content: center;
    color: rgb(231, 240, 236);
    margin-top: 50px;
}
#redesSociales
{
margin-right: 5px;
position: relative;
display: flex;
align-items: flex-end;
}

.logoRed
{
background-color: #16C172;
border: 1px solid #16C172;
border-radius: 60%;
margin-left: 30px;
margin-bottom: 5px;  
}
.logoRed:hover
{
transform: scale(1.2);
border: 3px solid #3ef8a1;
}

nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #33658a;
    padding-left:5%;
    padding-right: 10%;
}
.cuerpo{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    color: transparent;
    background-color: transparent;
}
p{
    font-size: 45px;
    text-align: center;
    color: #33658a;
}
h3{
    font-size: 40px;
}
.formulario
{
    padding-right: 170px;
    padding-bottom: 10px;
    justify-content: center;
    color: #FFFF;
    padding-left: 50px;
    font-size: 35px;
    margin: auto;
    border-radius: 10%;
    border: 3px solid #FFF;
}
label{
    padding-left: 10px;
    font-size: 40px;
}
input[type="radio"] {
    transform: scale(1.5); /* Ajusta el valor para aumentar o disminuir el tamaño */
    margin-left: 30px;
    cursor: pointer;
}
input[type="text"] {
    transform: scale(1.4); /* Ajusta el valor para aumentar o disminuir el tamaño */
    margin-left: 45px;
    cursor: pointer;
}
#botonRegresar
{
	background-color:#5be3f8e6;
    margin-top: 25px;
    color: #FFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: width 0.3s, height 0.3s;
    text-decoration: none;
}

#Enviar{
    padding-left:50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 28px;
    margin-left: 180px;
    margin-top: 10px;
    background-color: #1edbf8;
    color: #FFFF;
    border: none;
    border-radius: 9%;
    cursor: pointer;
}

#titulonav
{
    color: #fff;
    font-size: 28px;
}
span{
    color: #16C172;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    transition: transform 0.2s ease;
  }
  
  nav ul li:hover {
    color: #1edbf8;
    transform: scale(1.2);
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease; /* Agregar transición de color */
  }
  
  nav ul li:hover a {
    color: #92fc36; /* Cambiar el color al pasar el cursor por encima */
  }

#principal_Rciencias
{
    display: flex;
    height: 850px;
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url('https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#principal_Rciencias p
{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}

#principal_RProg
{
    display: flex;
    height: 850px;
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url('https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#principal_RProg p
{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}


#principal_RBiologia
{
    display: flex;
    height: 850px;
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url('https://images.pexels.com/photos/1366942/pexels-photo-1366942.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#principal_RBiologia p
{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}
footer 
{
    background-color: #16C172;
    padding: 20px;
    text-align: center; /* Alineación centrada para el texto de copyright */
}

.footer-container 
{
    display: flex;
    flex-direction: column;
}

.footer-row 
{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.footer-button 
{
    display: inline-block;
    padding: 6px 12px;
    margin: 0 5px;
    background-color: #fff;
    color: #16C172;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.logout-button:active {
  transform: translateY(1px); /* Aplicamos una translación vertical cuando el botón está siendo presionado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Agregamos una sombra para resaltar el botón presionado */
}

  
.footer-copyright 
{
    font-size: 15px; /* Tamaño de fuente más pequeño para el texto de copyright */
    color: #fff;
    margin: auto; /* Eliminar el margen predeterminado del párrafo */
    font-family: Arial, Helvetica, sans-serif;
}
